<ul class="list-group" id="contentUl">
	<%allContent.forEach(function(todo,index){%>
	<li class="list-group-item">
		<span onclick="doneContent('<%= todo.id %>',this)" 
		<%if(todo.done){%>
				class="done"
			<%}%>
		><%= todo.content %></span>
		<button class="btn btn-danger" onclick="deleteContent('<%= todo.id %>',this)">delete</button>
	</li>
	<% })%>			
</ul>